html{
height: 100%;
}
body{
    margin: 0;
    height: inherit;
}
table{
    margin: auto;
    height: 70vh;
    width: 70vh;
    vertical-align: middle;
    /*table-layout: fixed;*/
    border-collapse: collapse;
}
td,tr{
    border: thin solid;
    text-align: center;
    overflow: visible;
}
td{
    height: 10%;
    width: 10%;
}
/*
td:hover
{
    background-color: lightblue;
    font-size: x-large;

}
*/
